body {
    background-color: rgb(31, 31, 31);
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    color: rgb(232, 232, 232);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
form{
    width: 30rem;
    margin: 1rem auto;
    background-color: rgb(225, 225, 225);
    padding: 1rem;
    border-radius: 6px;

}
label{
    margin-bottom: 1rem;
    display: block;

}
input,
textarea,
select {
width: 100%;
display: block;
margin-bottom: 1rem;
box-sizing: border-box;
font: inherit;
border: 1px solid rgb(184, 184, 184);
padding: 0.25rem;
color: rgb(102, 96, 96);
}
textarea{
    resize: none;
}
input:focus,
textarea:focus{
    background-color: rgb(219, 190, 253);
    color: rgb(86, 6, 178);
    border-color: rgb(86, 6, 178);
}
button{
    display: block;
    font: inherit;
    background-color: rgb(86, 6, 178);
    color: white;
    border: 1px solid rgb(86, 6, 178);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(126, 30, 235); 
    border-color: rgb(126, 30, 235);
}
.form-control-inline{
  display: flex;  
}

.form-control-inline input{
    width: auto;
    margin-right: 0.5rem;
}